<html>
<head>
	<h1><%= @message %></h1>
</head>
<body>
<p>hi gud morning</p>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy78jCCMYBLIyo06G_maFnLXIDQfu2KFZ46AV_sUBg23_mHbZr" width="50" height="50">haii</img>
<!--<p><%= @bonus %></p>-->
<% @count.times do %>
<p><%= @bonus %></p>
<% end %>
</body>
</html>

