// Place all the styles related to the hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body 
{ 
  font-family:sans-serif;
  background-image: url("http://images2.fanpop.com/image/photos/10100000/Rose-Bud-Wallpaper-roses-10111060-1024-768.jpg");
background-image:no-repeat;
}
h1 {font-family:serif;
font-size: 24pt;
font-weight: bold;
color:#F00 ;
}
p
{
  color: violet;
}
