<h1>Books#index</h1>
<!--<p>Find me in app/views/books/index.html.erb</p>-->
<h1>Books</h1>
<div id="container">
<div id "addbox" style="margin-left:8em;margin-right:10em;background-color:yellow;">
	<h3 style="text-align:center;">add a book</h3>
	<%= form_tag("/books/add", :method => "post") do %>
	Acess No:<%= text_field_tag(:b_access_no) %> <br>
	Title:<%= text_field_tag(:b_title) %> <br>
	Author:<%= text_field_tag(:b_author) %> <br>
	Edition:<%= text_field_tag(:b_edition) %> <br>
	Publisher:<%= text_field_tag(:b_publisher) %> <br>
	<center><br><%= submit_tag("Add Book") %></center>
	<% end %>
	</div>
<div id="searchbox" style="margin-left:8em;margin-right:10em;background-color:green;">
<h3 style="text-align:center;">search a book</h3>
<%= form_tag("/books/search", :method => "post") do %>
Title:<%= text_field_tag(:bs_title) %>
<center><br><%= submit_tag("search") %></center>
	<% end %>
</div>
</div>
